# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.DS_Store
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.graffle
*.ai
*.sketch/
*.sass-cache
uploads/
virt_env/

# Directories
test_data
uploads
design
node_modules

# Compiled Files
static/scripts/js
static/styles/css