a {
  text-decoration: none !important; }
  a:hover {
    color: black; }

ul {
  list-style-type: none; }
  ul li {
    list-style-type: none; }

/* Fonts */
@font-face {
  font-family: 'DIN';
  src: url("DINLight.ttf") format("ttf"), url("DINLight.woff") format("woff"); }

@font-face {
  font-family: 'Karbon';
  src: url("karbon-medium-webfont.woff") format("woff"); }

@font-face {
  font-family: 'Karbon';
  src: url("karbon-light-webfont.woff") format("woff");
  font-weight: 300; }

@font-face {
  font-family: 'Karbon';
  src: url("karbon-regular-webfont.woff") format("woff");
  font-weight: normal; }

@font-face {
  font-family: 'Karbon';
  src: url("karbon-semibold-webfont.woff") format("woff");
  font-weight: bold; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  max-height: 100%;
  min-width: 980px;
  overflow-y: scroll;
  font-family: 'Karbon', 'DIN', Helvetica, Sans Serif; }

div.wrapper {
  max-height: 100%;
  height: 100%; }

section.landing-top {
  font-family: 'DIN';
  font-weight: light; }
  section.landing-top div.dive {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGElEQVQIW2NkYGD4D8SMQAwHKByYKIWCAGagAQanLNDFAAAAAElFTkSuQmCC) repeat;
    background-color: #1C1D1D;
    padding: 100px 0; }
    section.landing-top div.dive div {
      text-align: center;
      color: #eeeeee; }
    section.landing-top div.dive div.title {
      font-size: 60px; }
    section.landing-top div.dive div.subtitle {
      font-size: 24px; }
  section.landing-top div.user-status {
    font-family: "Lato",helvetica,sans-serif;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 35px;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    right: 15px;
    color: white; }
    section.landing-top div.user-status span.username {
      border-bottom: 1px dotted #eeeeee; }

section.landing-projects div.new-project-button {
  cursor: pointer;
  background-color: #666666;
  width: 675px;
  margin: 10px auto 0 auto;
  text-align: center;
  border-radius: 2px;
  padding: 8px 5px;
  color: #eeeeee;
  font-family: "Lato",helvetica,sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 35px;
  text-transform: uppercase;
  line-height: 20px;
  margin: 30px auto 0 auto; }
  section.landing-projects div.new-project-button input {
    cursor: pointer; }
  section.landing-projects div.new-project-button:hover {
    -webkit-transition: background 0.1s ease-in;
    -moz-transition: background 0.1s ease-in;
    -o-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
    background-color: #4a90e2; }
section.landing-projects div.new-project-form {
  position: relative;
  width: 600px;
  padding: 10px;
  margin: 20px auto 0 auto;
  background-color: #f1efef;
  border: 1px solid #f1efef;
  border-radius: 2px; }
  section.landing-projects div.new-project-form div.close {
    position: absolute;
    top: 5px;
    right: 5px; }
  section.landing-projects div.new-project-form label {
    width: 100%;
    text-align: center;
    color: black;
    font-family: "Lato",helvetica,sans-serif;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 35px;
    text-transform: uppercase; }
  section.landing-projects div.new-project-form input {
    width: 100%;
    border: 1px solid #666666;
    margin-bottom: 10px; }
  section.landing-projects div.new-project-form div.create-project {
    cursor: pointer;
    background-color: #666666;
    width: 80px;
    margin: 10px auto 0 auto;
    text-align: center;
    border-radius: 2px;
    padding: 8px 5px;
    color: #eeeeee;
    font-family: "Lato",helvetica,sans-serif;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 35px;
    text-transform: uppercase;
    line-height: 20px; }
    section.landing-projects div.new-project-form div.create-project input {
      cursor: pointer; }
    section.landing-projects div.new-project-form div.create-project:hover {
      -webkit-transition: background 0.1s ease-in;
      -moz-transition: background 0.1s ease-in;
      -o-transition: background 0.1s ease-in;
      transition: background 0.1s ease-in;
      background-color: #4a90e2; }
section.landing-projects ul.projects {
  width: 675px;
  padding: 0;
  margin: 10px auto 0 auto; }
  section.landing-projects ul.projects a {
    color: black; }
  section.landing-projects ul.projects li.project {
    -webkit-transition: border 0.1s ease-in;
    -moz-transition: border 0.1s ease-in;
    -o-transition: border 0.1s ease-in;
    transition: border 0.1s ease-in;
    -webkit-transition: background 0.1s ease-in;
    -moz-transition: background 0.1s ease-in;
    -o-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
    cursor: pointer;
    margin-top: 10px;
    height: 140px;
    width: 200px;
    background-color: #f1efef;
    border-radius: 2px;
    display: inline-block;
    margin-right: 10px; }
    section.landing-projects ul.projects li.project:hover {
      background-color: #4a90e2; }
    section.landing-projects ul.projects li.project div.title {
      font-size: 24px;
      line-height: 75px;
      text-align: center; }
    section.landing-projects ul.projects li.project div.description {
      font-family: "Lato",helvetica,sans-serif;
      font-size: 9px;
      letter-spacing: 1px;
      line-height: 35px;
      text-transform: uppercase;
      line-height: 20px;
      padding: 0 15px;
      text-align: center; }

/* Layout */
nav.navbar {
  margin: 0;
  border: 0;
  min-width: 980px;
  min-height: 35px; }
  nav.navbar div.navbar-header {
    width: 50%;
    height: 35px;
    float: left; }
  nav.navbar div.login {
    font-size: 16px;
    color: white;
    font-weight: normal;
    line-height: 35px;
    float: right;
    margin-right: 20px; }
  nav.navbar ul {
    padding-left: 0; }
    nav.navbar ul li {
      float: left;
      padding: 0 20px; }
      nav.navbar ul li.active {
        background-color: #4a90e2; }
      nav.navbar ul li a {
        line-height: 49px;
        color: black;
        font-size: 16px;
        font-family: "Lato",helvetica,sans-serif;
        font-size: 9px;
        letter-spacing: 1px;
        line-height: 35px;
        text-transform: uppercase; }
        nav.navbar ul li a:hover {
          position: relative;
          bottom: 1px; }
  nav.navbar.top {
    background-image: none;
    background-color: #1e1e20;
    border-radius: 0; }
    nav.navbar.top a.navbar-brand {
      height: 40px;
      font-family: 'Karbon';
      text-transform: uppercase;
      text-shadow: none;
      font-size: 20px;
      color: white;
      font-weight: normal;
      letter-spacing: 2px;
      line-height: 6px;
      padding: 15px;
      padding-left: 20px;
      padding-right: 5px; }
    nav.navbar.top a.project-title {
      padding-left: 0px;
      text-transform: capitalize; }
  nav.navbar div.hamburger {
    float: right;
    margin-right: 20px;
    margin-top: 12px;
    cursor: pointer; }
    nav.navbar div.hamburger div.line {
      width: 14px;
      border-bottom: 2px solid white;
      padding-bottom: 3px; }
  nav.navbar.sections {
    background-image: none;
    background-color: white;
    border-bottom: 1px solid #1e1e20;
    border-radius: 0; }
    nav.navbar.sections p.navbar-text {
      font-family: 'Karbon';
      font-weight: normal;
      color: #1e1e20;
      float: left;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 16px; }
      nav.navbar.sections p.navbar-text.active {
        font-weight: normal; }
      nav.navbar.sections p.navbar-text:hover {
        position: relative;
        bottom: 1px; }

section.left-pane, section.right-pane {
  background-color: white;
  font-size: 16px;
  position: relative;
  float: left;
  width: 250px;
  height: 100%;
  overflow-y: auto; }
  section.left-pane.closed, section.right-pane.closed {
    display: none; }
  section.left-pane div.pane-title, section.right-pane div.pane-title {
    text-align: center;
    line-height: 35px;
    border-bottom: 1px solid #1e1e20;
    background-color: #1e1e20;
    color: #eeeeee;
    font-family: "Lato",helvetica,sans-serif;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 35px;
    text-transform: uppercase; }
  section.left-pane ul.pane-items, section.right-pane ul.pane-items {
    padding-left: 0;
    list-style-type: none; }
    section.left-pane ul.pane-items li, section.right-pane ul.pane-items li {
      position: relative;
      list-style-type: none;
      height: 80px;
      font-size: 14px;
      border-bottom: 1px solid #f1efef;
      cursor: pointer;
      padding: 12px; }
      section.left-pane ul.pane-items li div.vertical-center, section.right-pane ul.pane-items li div.vertical-center {
        line-height: 56px; }
      section.left-pane ul.pane-items li div.inactive, section.right-pane ul.pane-items li div.inactive {
        color: #666666;
        cursor: default; }
      section.left-pane ul.pane-items li div.choose, section.right-pane ul.pane-items li div.choose {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100px;
        width: 40px; }
        section.left-pane ul.pane-items li div.choose div, section.right-pane ul.pane-items li div.choose div {
          height: 40px; }
          section.left-pane ul.pane-items li div.choose div i, section.right-pane ul.pane-items li div.choose div i {
            width: 100%;
            line-height: 40px;
            text-align: center; }
        section.left-pane ul.pane-items li div.choose div.select, section.right-pane ul.pane-items li div.choose div.select {
          background-color: #7ed321; }
        section.left-pane ul.pane-items li div.choose div.reject, section.right-pane ul.pane-items li div.choose div.reject {
          background-color: #d0021b; }
      section.left-pane ul.pane-items li.add-dataset, section.right-pane ul.pane-items li.add-dataset {
        cursor: pointer;
        width: 100%;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        color: #f1efef; }
        section.left-pane ul.pane-items li.add-dataset:hover, section.right-pane ul.pane-items li.add-dataset:hover {
          color: #666666; }
      section.left-pane ul.pane-items li.selected, section.right-pane ul.pane-items li.selected {
        background-color: #f1efef; }
      section.left-pane ul.pane-items li div.dimensions, section.right-pane ul.pane-items li div.dimensions {
        float: left;
        width: 200px;
        padding-top: 20px; }
      section.left-pane ul.pane-items li div.type, section.right-pane ul.pane-items li div.type {
        text-align: right;
        margin-top: 20px; }
  section.left-pane div.drag, section.right-pane div.drag {
    position: absolute;
    top: 500px;
    width: 100%;
    text-align: center; }

section.left-pane {
  border-right: 1px solid #1e1e20; }
  section.left-pane li.selected {
    border-right: 5px solid #1e1e20; }

section.right-pane {
  position: relative;
  float: right;
  border-left: 1px solid #1e1e20;
  font-size: 16px; }
  section.right-pane li.selected {
    border-left: 5px solid #1e1e20; }

/* Upload */
section.upload-dataset {
  height: 100%;
  margin-left: 300px; }
  section.upload-dataset ul, section.upload-dataset li {
    padding: 0;
    list-style-type: none; }
  section.upload-dataset ul.data-rows li.data-row ul.data-cells li.data-cell {
    float: left; }

div.toggle-pane {
  width: 20px;
  height: 20px;
  border: 1px solid #aeaeae;
  position: absolute;
  top: 5px;
  cursor: pointer; }
  div.toggle-pane.left {
    left: 5px; }
    div.toggle-pane.left::before {
      margin-top: -5px;
      margin-left: -7px;
      border: 5px solid #aeaeae;
      border-left-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent; }
  div.toggle-pane.right {
    right: 5px; }
    div.toggle-pane.right::before {
      margin-top: -5px;
      margin-left: -1px;
      border: 5px solid #aeaeae;
      border-right-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent; }
  div.toggle-pane.left-closed::before {
    margin-top: -5px;
    margin-left: -1px;
    border: 5px solid #aeaeae;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent; }
  div.toggle-pane.right-closed::before {
    margin-top: -5px;
    margin-left: -7px;
    border: 5px solid #aeaeae;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent; }
  div.toggle-pane::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0; }

/* Viewport */
section.viewport {
  padding-top: 30px;
  position: relative;
  margin-left: 250px;
  margin-right: 250px;
  height: 100%;
  overflow-x: scroll; }
  section.viewport.left-closed {
    margin-left: 0px; }
  section.viewport.right-closed {
    margin-right: 0px; }
  section.viewport div.dataset-preview {
    padding-left: 5px;
    padding-right: 5px; }
    section.viewport div.dataset-preview input {
      font-size: 14px;
      padding: 4px;
      -webkit-appearance: none;
      border: none;
      background-color: #f1efef;
      width: 100%;
      min-width: 150px; }
      section.viewport div.dataset-preview input:focus {
        outline: none;
        background-color: #C0C0C0; }

div.button.upload {
  cursor: pointer;
  background-color: #666666;
  width: 200px;
  margin: 10px auto 0 auto;
  text-align: center;
  border-radius: 2px;
  padding: 8px 5px;
  color: #eeeeee;
  font-family: "Lato",helvetica,sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 35px;
  text-transform: uppercase;
  line-height: 20px; }
  div.button.upload input {
    cursor: pointer; }
  div.button.upload:hover {
    -webkit-transition: background 0.1s ease-in;
    -moz-transition: background 0.1s ease-in;
    -o-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
    background-color: #4a90e2; }
div.button.cancel, div.button.delete {
  cursor: pointer;
  background-color: #666666;
  width: 200px;
  margin: 10px auto 0 auto;
  text-align: center;
  border-radius: 2px;
  padding: 8px 5px;
  color: #eeeeee;
  font-family: "Lato",helvetica,sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 35px;
  text-transform: uppercase;
  line-height: 20px; }
  div.button.cancel input, div.button.delete input {
    cursor: pointer; }
  div.button.cancel:hover, div.button.delete:hover {
    -webkit-transition: background 0.1s ease-in;
    -moz-transition: background 0.1s ease-in;
    -o-transition: background 0.1s ease-in;
    transition: background 0.1s ease-in;
    background-color: #d0021b; }

/* Data Upload */
div.choose-data-set div.file-upload div.drop {
  margin: 20px 0;
  background-color: #f1efef;
  text-align: center;
  font-family: "Lato",helvetica,sans-serif;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 35px;
  text-transform: uppercase;
  line-height: 300px;
  width: 100%;
  height: 300px; }
  div.choose-data-set div.file-upload div.drop.dropped-file {
    background-color: #4a90e2; }
div.choose-data-set div.file-upload input {
  -webkit-appearance: default; }

select.type-select {
  width: 100%; }

/* Table */
tr.ng-scope td {
  font-size: 14px;
  padding: 4px;
  border: 1px solid #f1efef; }

select {
  font-size: 14px;
  padding: 4px;
  background-color: #f1efef;
  border-radius: 0px;
  border: 1px solid #f1efef;
  -webkit-appearance: none;
  height: 23px; }

div#viz-container {
  width: 100%; }

/* Ontology Editor */
g {
  cursor: default; }
