/* styles.sass */
/* Fonts */
@font-face {
  font-family: 'DIN';
  src: url("DINLight.ttf") format("ttf"), url("DINLight.woff") format("woff"); }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%;
  max-height: 100%;
  font-family: 'DIN', Helvetica, Sans Serif; }

/* Layout */
nav.navbar {
  margin: 0;
  border: 0; }
  nav.navbar.top {
    background-image: none;
    background-color: #122e43;
    border-radius: 0; }
    nav.navbar.top a.navbar-brand {
      text-shadow: none;
      color: #a5cdd4; }
  nav.navbar.sections {
    background-image: none;
    background-color: #a5cdd4;
    border-radius: 0; }
    nav.navbar.sections p.navbar-text {
      color: #122e43; 
    }

section.left-pane {
  position: relative;
  float: left;
  width: 300px;
  height: 100%;
  border-right: 5px solid #e0e5e9; }
  section.left-pane ul.datasets {
    padding-left: 0;
    list-style-type: none; }
    section.left-pane ul.datasets li {
      list-style-type: none;
      height: 100px;
      border-bottom: 1px solid #e0e5e9; }
      section.left-pane ul.datasets li.dataset {
        cursor: pointer;
        padding: 15px; }
      section.left-pane ul.datasets li.selected-dataset {
        background-color: #eee; }
      section.left-pane ul.datasets li.add-dataset {
        cursor: pointer;
        width: 100%;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        color: #e0e5e9; }
        section.left-pane ul.datasets li.add-dataset:hover {
          color: #222222; }
      section.left-pane ul.datasets li div.title {
        font-size: 1.5rem; }
      section.left-pane ul.datasets li div.dimensions {
        float: left;
        margin-top: 10px;
        width: 200px; }
      section.left-pane ul.datasets li div.type {
        text-align: right;
        margin-top: 20px; }
  section.left-pane div.drag {
    position: absolute;
    top: 500px;
    width: 100%;
    text-align: center; }

/* Upload */
section.upload-dataset {
  height: 100%;
  margin-left: 300px; }
  section.upload-dataset ul, section.upload-dataset li {
    padding: 0;
    list-style-type: none; }
  section.upload-dataset ul.data-rows li.data-row ul.data-cells li.data-cell {
    float: left; }

/* Viewport */
section.viewport {
  margin-left: 300px;
  padding: 20px; }
