<section class="left-pane">
  <ul class="pane-items">
    <li ng-repeat="vizType in vizTypes" class="dataset" ng-click="select_vizType($index)" ng-class="{'selected-dataset':$index==selected_vizType_index}">
      <div class="title"><b>{[{vizType.name | capitalize}]}</b></div>
      <div class="count">{[{vizType.count}]} Visualization Types</div>
    </li>
  </ul>
</section>

<section class="right-pane">
  <ul class="pane-items">
    <li ng-repeat="vizSpec in vizSpecs" ng-click="select_vizSpec($index);setVizData(vizSpec);" ng-class="{'selected-dataset':$index==selected_vizSpec_index}">
      <div>Aggregate <b>{[{getDatasetTitle(vizSpec.aggregate)}]}</b></div>
      <div>Condition on <b>{[{getColumnName(vizSpec.aggregate, vizSpec.condition)}]}</b></div>
      <div>Group by <b>{[{getColumnName(vizSpec.aggregate, vizSpec.groupBy)}]}</b></div>
      <div class="choose" ng-if="$index==selected_vizSpec_index">
        <div class="select">
          <i class="fa fa-check fa-2x"></i>
        </div>
        <div class="reject">
          <i class="fa fa-times fa-2x"></i>
        </div>
      </div>
    </li>
  </ul>
</section>

<section class="viewport">
  <div id="viz-container"></div>
  <visualization-preview viz-type="vizType" viz-spec="vizSpec" viz-data="vizData"></visualization-preview>
</section>

