<section class="left-pane" ng-class="{'closed': leftClosed}">
  <div class="pane-title">
    Visualization Types
  </div>
  <ul class="pane-items">
    <li ng-repeat="type in types" class="dataset" ng-click="select_type($index)" ng-class="{'selected':$index==selected_type_index}">
      <div class="vertical-centertitle"><b>{[{type.name | capitalize}]}</b></div>
      <div class="count">{[{type.length}]} Visualization Types</div>
    </li>
  </ul>
</section>

<section class="right-pane" ng-class="{'closed': rightClosed}">
  <div class="pane-title">
    Visualization Specifications
  </div>
  <ul class="pane-items">
    <li ng-repeat="spec in specs" ng-click="select_spec($index); setVizData(spec);" ng-class="{'selected':$index==selected_spec_index}">
      <div>Aggregate <b>{[{spec.aggregate.title}]}</b></div>
      <div>Condition on <b>{[{spec.condition.title}]}</b></div>
      <div>Group by <b>{[{spec.groupBy.title}]}</b></div>
      <div class="choose" ng-if="$index==selected_spec_index">
        <div class="select">
          <i class="fa fa-check fa-2x"></i>
        </div>
        <div class="reject">
          <i class="fa fa-times fa-2x"></i>
        </div>
      </div>
    </li>
  </ul>
</section>

<section class="viewport" ng-class="{'right-closed': rightClosed, 'left-closed': leftClosed}">
  <pane-toggle></pane-toggle>
  <div id="viz-container"></div>
  <visualization-preview viz-type="selected_type" viz-spec="selected_spec" viz-data="vizData"></visualization-preview>
</section>