<engine-top-bar></engine-top-bar>

<section class="left-pane">
	<div class="pane-title">
		Change Ontology View
	</div>
	<ul class="pane-items">
		<li><div class="title">List</div></li>
		<li><div class="title">Object Model</div></li>
		<li><div class="title">Hierarchical</div></li>
	</ul>
</section>

<section class="right-pane">
	<div class="pane-title">
		Edit Ontology
	</div>
	<ul class="pane-items">
		<li><div class="title">Add</div></li>
		<li><div class="title">Edit</div></li>
		<li><div class="title">Delete</div></li>
	</ul>
</section>

<section class="viewport">
    <ontology-editor data="datasets" overlaps="overlaps" hierarchies="hierarchies"></ontology-editor>
</section>
