<section class="left-pane" ng-class="{'closed': leftClosed}">
	<div class="pane-title">
		Change Ontology View
	</div>
	<ul class="pane-items">
		<li ng-repeat="option in layoutOptions" class="option" ng-class="{'selected':$index==selectedLeftIndex && currentPane=='left'}">
			<div class="vertical-center title" ng-click="select_left_option($index)" ng-class="{'inactive': option.inactive}">{[{option.label}]}</div>
		</li>
	</ul>
</section>

<section class="right-pane" ng-class="{'closed': rightClosed}">
	<div class="pane-title">
		Edit Ontology
	</div>
	<ul class="pane-items">
		<li ng-repeat="option in editOptions" class="option" ng-class="{'selected':$index==selectedRightIndex && currentPane=='left'}">
			<div class="vertical-center title" ng-click="select_right_option($index)" ng-class="{'inactive': option.inactive}">{[{option.label}]}</div>
		</li>
	</ul>
</section>

<section class="viewport" ng-class="{'right-closed': rightClosed, 'left-closed': leftClosed}">
	<pane-toggle></pane-toggle>
	<loader></loader>
    <ontology-editor data="datasets" overlaps="overlaps" hierarchies="hierarchies"></ontology-editor>
</section>
