<header>
	<nav class="navbar navbar-default top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand expand" id="logo" href="#">DIVE</a>
		</div>
		<div class="hamburger">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</div>
	</nav>
	<nav class="navbar navbar-default sections" role="navigation">
		<ul ng-controller="TabsCtrl">
			<li ui-sref-active="active" ng-repeat="tab in tabs">
				<a ui-sref="{[{tab.route}]}" select="go(t.route)">{[{tab.label}]}</a>
			</li>
		</ul>
<!-- 		<ul ng-controller="TabsCtrl">
			<li ng-class="{'active': tab.active}; " ng-repeat="tab in tabs">
				<a ui-sref="{[{tab.route}]}" select="go(t.route)">{[{tab.label}]}</a>
			</li>
		</ul> -->
	</nav>
</header>