// Resource imports and universal styling rules
$dive-black: #1C1D1D;
$dark-blue: #122e43;
$light-blue: #a5cdd4;
$light-gray: #e0e5e9;
$dark-gray: #222222;
$data-yellow: #F8E71C;
$ontology-blue: #4A90E2;
$visualize-purple: #BD10E0;
$assemble-green: #7ED321;
$project-red: #D0021B;

@import 'layout';

// Universal Link Styling
a {
    text-decoration: none !important;
    &:hover {
        color: black;
    }
}

// Universal List Styling
ul {
    list-style-type: none;
    li {
        list-style-type: none;
    }
}

/* Fonts */
@font-face {
    font-family: 'DIN';
    src: url('DINLight.ttf') format('ttf'), url('DINLight.woff') format('woff');
}

@font-face {
    font-family: 'Karbon';
    src: url('karbon-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Karbon';
    src: url('karbon-light-webfont.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Karbon';
    src: url('karbon-regular-webfont.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Karbon';
    src: url('karbon-semibold-webfont.woff') format('woff');
    font-weight: bold;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}