<html ng-app="diveApp" lang="en">
	<head>
		<meta charset="utf-8">
		<title>DIVE</title>

		<!-- Style Sheets -->
		<link href="{{ url_for('static', filename='styles/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='styles/css/bootstrap-theme.min.css') }}" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href="{{ url_for('static', filename='styles/css/styles.css') }}" rel="stylesheet">

		<!-- Javascript -->
		<script src="{{ url_for('static', filename='scripts/libraries/jquery-1.11.0.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/libraries/bootstrap.min.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/libraries/underscore.min.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/libraries/d3.js')}}" type="text/javascript"></script>
		<script src="http://www.d3plus.org/js/topojson.js"></script>
		<script src="http://www.d3plus.org/js/d3plus.js"></script>

		<!-- AngularJS -->
		<script src="{{ url_for('static', filename='scripts/libraries/angular-file-upload-shim.min.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/libraries/angular.min.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/libraries/angular-file-upload.min.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/libraries/angular-animate.min.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/libraries/angular-route.min.js')}}" type="text/javascript"></script>

		<!-- Directives -->
		<!-- Controllers -->
		<!-- Services -->

		<!-- Application js -->
		<script src="{{ url_for('static', filename='scripts/main.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/interactions.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/controllers/controllers.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/routes.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/services/data_service.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/services/d3_service.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/services/d3Plus_service.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/directives/ontology_editor.js')}}" type="text/javascript"></script>
		<script src="{{ url_for('static', filename='scripts/directives/visualization_preview.js')}}" type="text/javascript"></script>
	</head>

	<body>
		<!-- Navigation Bar -->
		<div ng-view class="wrapper"></div>
	</body>
</html>
