{% extends "core.html" %}

{% block content %}
<section class="viewport upload-dataset">
</section>
{% endblock %}

{% block left_pane %}
<section class="left-pane">
	<ul ng-controller="DatasetListCtrl" class="datasets">
		<li ng-repeat="dataset in datasets" class="dataset">
			<div class="title">{[{dataset.title}]}</div>
			<div class="dimensions">
				<div class="rows">{[{dataset.rows}]} Rows</div>
				<div class="columns">{[{dataset.cols}]} Columns</div>
			</div>
			<div class="type">{[{dataset.type}]}</div>
		</li>
		<li class="add-dataset">
			<i class="fa fa-plus-circle"></i>
		</li>
	</ul>
	<div class="drag">Drag Here to Upload Dataset (no dragiing yet)</div>

	<form id="upload-form" method="post" enctype="multipart/form-data">
		<label for="dataset">Select a dataset to upload</label>
		<input id="data-file" type="file" name="dataset">
		<button id="data-submit">Upload</button>
	</form>

</section>
{% endblock %}
