/* styles.sass */
$dark-blue: #122e43;
$light-blue: #a5cdd4;
$light-gray: #e0e5e9;
$dark-gray: #222222;

/* Fonts */
@font-face {
    font-family: 'DIN';
    src: url('DINLight.ttf') format('ttf'), url('DINLight.woff') format('woff');
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
    height: 100%;
    max-height: 100%;
    font-family: 'DIN', Helvetica, Sans Serif;
}

/* Layout */
nav.navbar {
    margin: 0;
    border: 0;

    &.top {
         background-image: none;
         background-color: $dark-blue;
         border-radius: 0;

        a.navbar-brand {
            text-shadow: none;
            color: $light-blue;
        }
    }

    &.sections {
        background-image: none;
        background-color: $light-blue;
        border-radius: 0;

        p.navbar-text {
            color: $dark-blue;
            float: left;
            margin-left: 15px;
            margin-right: 15px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

section.left-pane {
    position: relative;
    float: left;
    width: 300px;
    height: 100%;
    border-right: 5px solid $light-gray;

    ul.datasets {
        padding-left: 0;
        list-style-type: none;
        li {
            list-style-type: none;
            height: 100px;
            border-bottom: 1px solid $light-gray;

            &.dataset {
                cursor: pointer;
                padding: 15px;
            }

            &.add-dataset {
                cursor: pointer;
                width: 100%;
                height: 50px;
                font-size: 30px;
                line-height: 50px;
                text-align: center;
                color: $light-gray;
                &:hover {
                    color: $dark-gray;
                }
            }

            &.selected-dataset {
              background-color: #eee;
            }

            div.title {
                font-size: 1.5rem;
            }

            div.dimensions {
                float: left;
                margin-top: 10px;
                width: 200px;
            }
            div.type {
                text-align: right;
                margin-top: 20px;
            }
        }
    }
    div.drag {
        position: absolute;
        top: 500px;
        width: 100%;
        text-align: center;
    }
}

/* Upload */
section.upload-dataset {
    height: 100%;
    margin-left: 300px;
    ul, li {
        padding: 0;
        list-style-type: none;
    }

    ul.data-rows {
        li.data-row {
            ul.data-cells {
                li.data-cell {
                    float: left;
                }
            }
        }
    }
}

/* Viewport */
section.viewport {
    margin-left: 300px;
}

/* Table */
tr.ng-scope {
    td {
        padding: 4px;
    }
}
input {
    padding: 4px;
    -webkit-appearance: none;
    border: none;
    background-color: $light-gray;
    width: 100%;
    min-width: 150px;
    &:focus {
        outline: none;
        background-color: #C0C0C0;
    }
}
