<section class="left-pane">
  <ul class="datasets">
    <li ng-repeat="vizType in vizTypes" class="dataset" ng-click="select_vizType($index)" ng-class="{'selected-dataset':$index==selected_vizType_index}">
      <div class="title">{[{vizType.name}]}</div>
      <div class="count">{[{vizType.count}]}</div>
    </li>
  </ul>
</section>

<section class="right-pane">
  <ul class="datasets">
    <li ng-repeat="vizSpec in vizSpecs" class="dataset" ng-click="select_vizSpec($index);setVizData(vizSpec);" ng-class="{'selected-dataset':$index==selected_vizSpec_index}">
      Aggregate {[{getDatasetTitle(vizSpec.aggregate)}]} conditioned on {[{getColumnName(vizSpec.aggregate, vizSpec.condition)}]} and group by {[{getColumnName(vizSpec.aggregate, vizSpec.groupBy)}]}.
    </li>
  </ul>
</section>

<section class="viewport">
  {[{vizData}]}
  <visualization-preview vizType="selected_vizType" vizSpec="vizSpec" vizData="vizData">
  </visualization-preview>
</section>

